<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antonina.socialsynchro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SocialSynchro"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.gui.activities.LoginActivity" />
        <activity android:name=".common.gui.activities.ImageGalleryActivity" />
        <activity android:name=".common.gui.activities.StatisticsActivity" />
        <activity
            android:name=".common.gui.activities.EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.gui.activities.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".common.gui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>